@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: hsl(178, 88%, 49%);
}

.searchbox {
    outline-style: none;
}
.searchbox:hover, .searchbox:focus {
    outline-style: inset;
    outline-width: 5px;
    outline-color: hsl(178, 88%, 49%);
}